recursive-include prompt_tuning/configs *.gin
recursive-include prompt_tuning/pretrained_prompts *.npy
recursive-include prompt_tuning/pretrained_prompts *.md
recursive-include prompt_tuning/recycling/configs *.json
