name: Close Pull Request

on:
  pull_request_target:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: superbrothers/close-pull-request@v3
      with:
        comment: "Unfortunately, we cannot accept contributions to the Prompt Tuning repo at this time. Please file issues as needed though!"
